---
#CompileFlags:
  #Add: [-std=c++14]
Diagnostics:
   ClangTidy:
     FastCheckFilter: None
     Add:          [clang-diagnostic-*,clang-analyzer-*,clang-diagnostic-*,clang-analyzer-*,modernize*,cppcoreguidelines*,google*,misc-definitions-in-headers,misc-string-*,performance*,readability*,readability-container-size-empty]
     Remove:          [clang-analyzer-alpha*,modernize-use-nodiscard,modernize-use-trailing-return-type,cppcoreguidelines-avoid-non-const-global-variables,cppcoreguidelines-owning-memory,cppcoreguidelines-pro-type-vararg,cppcoreguidelines-pro-bounds-pointer-arithmetic,cppcoreguidelines-pro-type-static-cast-downcast,cppcoreguidelines-pro-bounds-constant-array-index,cppcoreguidelines-pro-type-member-init,cppcoreguidelines-avoid-magic-numbers,cppcoreguidelines-pro-type-reinterpret-cast,google-readability-todo,google-default-arguments,performance-avoid-endl,readability-named-parameter,readability-magic-numbers,readability-suspicious-call-argument,readability-uppercase-literal-suffix,readability-identifier-length,readability-convert-member-functions-to-static,readability-function-cognitive-complexity,readability-math-missing-parentheses]
     CheckOptions:
       cert-oop11-cpp.UseCERTSemantics:           '1'
       cppcoreguidelines-pro-bounds-constant-array-index.GslHeader:           ''
       cppcoreguidelines-pro-bounds-constant-array-index.IncludeStyle:           'llvm'
       cppcoreguidelines-pro-type-member-init.IgnoreArrays:           '0'
       cppcoreguidelines-narrowing-conversions.WarnOnIntegerNarrowingConversion:           false
       google-build-namespaces.HeaderFileExtensions:           h,hh,hpp,hxx
       google-global-names-in-headers.HeaderFileExtensions:           h
       google-readability-braces-around-statements.ShortStatementLines:           '1'
       google-readability-function-size.BranchThreshold:           '4294967295'
       google-readability-function-size.LineThreshold:           '4294967295'
       google-readability-function-size.StatementThreshold:           '800'
       google-readability-namespace-comments.ShortNamespaceLines:           '10'
       google-readability-namespace-comments.SpacesBeforeComments:           '2'
       google-runtime-int.UnsignedTypePrefix:           uint
       google-runtime-int.SignedTypePrefix:           int
       google-runtime-int.TypeSuffix:           '_t'
       misc-definitions-in-headers.HeaderFileExtensions:           ',h,hh,hpp,hxx'
       misc-definitions-in-headers.UseHeaderFileExtension:           '1'
       misc-string-constructor.LargeLengthThreshold:           '8388608'
       misc-string-constructor.WarnOnLargeLength:           '1'
       modernize-loop-convert.MaxCopySize:           '16'
       modernize-loop-convert.MinConfidence:           reasonable
       modernize-loop-convert.NamingStyle:           CamelCase
       modernize-pass-by-value.IncludeStyle:           llvm
       modernize-replace-auto-ptr.IncludeStyle:           llvm
       modernize-use-auto.IgnoreMacros:           true
       modernize-use-auto.RemoveStars:           '0'
       modernize-use-emplace.ContainersWithPushBack:           '::std::vector;::std::list;::std::deque'
       modernize-use-emplace.SmartPointers:           '::std::shared_ptr;::std::unique_ptr;::std::auto_ptr;::std::weak_ptr'
       modernize-use-nullptr.NullMacros:           'NULL'
       modernize-use-override.IgnoreDestructors:				true
       cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors:				true
       performance-faster-string-find.StringLikeClasses:           'std::basic_string'
       performance-for-range-copy.WarnOnAllAutoCopies:           '0'
       performance-unnecessary-value-param.IncludeStyle:           llvm
       readability-braces-around-statements.ShortStatementLines:           '0'
       readability-function-size.BranchThreshold:           '4294967295'
       readability-function-size.LineThreshold:           '4294967295'
       readability-function-size.StatementThreshold:           '800'
       readability-identifier-length.MinimumVariableNameLength:           3
       readability-identifier-length.MinimumParameterNameLength:           3
       readability-identifier-naming.AbstractClassCase:           aNy_CasE
       readability-identifier-naming.AbstractClassPrefix:           ''
       readability-identifier-naming.AbstractClassSuffix:           ''
       readability-identifier-naming.ClassCase:           CamelCase
       readability-identifier-naming.ClassConstantCase:           aNy_CasE
       readability-identifier-naming.ClassConstantPrefix:           ''
       readability-identifier-naming.ClassConstantSuffix:           ''
       readability-identifier-naming.ClassMemberCase:           CamelCase
       readability-identifier-naming.ClassMemberPrefix:           'f'
       readability-identifier-naming.ClassMemberSuffix:           ''
       readability-identifier-naming.ClassMethodCase:           aNy_CasE
       readability-identifier-naming.ClassMethodPrefix:           ''
       readability-identifier-naming.ClassMethodSuffix:           ''
       readability-identifier-naming.ClassPrefix:           ''
       readability-identifier-naming.ClassSuffix:           ''
       readability-identifier-naming.ConstantCase:           aNy_CasE
       readability-identifier-naming.ConstantMemberCase:           aNy_CasE
       readability-identifier-naming.ConstantMemberPrefix:           ''
       readability-identifier-naming.ConstantMemberSuffix:           ''
       readability-identifier-naming.ConstantParameterCase:           aNy_CasE
       readability-identifier-naming.ConstantParameterPrefix:           ''
       readability-identifier-naming.ConstantParameterSuffix:           ''
       readability-identifier-naming.ConstantPrefix:           ''
       readability-identifier-naming.ConstantSuffix:           ''
       readability-identifier-naming.ConstexprFunctionCase:           aNy_CasE
       readability-identifier-naming.ConstexprFunctionPrefix:           ''
       readability-identifier-naming.ConstexprFunctionSuffix:           ''
       readability-identifier-naming.ConstexprMethodCase:           aNy_CasE
       readability-identifier-naming.ConstexprMethodPrefix:           ''
       readability-identifier-naming.ConstexprMethodSuffix:           ''
       readability-identifier-naming.ConstexprVariableCase:           aNy_CasE
       readability-identifier-naming.ConstexprVariablePrefix:           ''
       readability-identifier-naming.ConstexprVariableSuffix:           ''
       readability-identifier-naming.EnumCase:           aNy_CasE
       readability-identifier-naming.EnumConstantCase:           aNy_CasE
       readability-identifier-naming.EnumConstantPrefix:           ''
       readability-identifier-naming.EnumConstantSuffix:           ''
       readability-identifier-naming.EnumPrefix:           ''
       readability-identifier-naming.EnumSuffix:           ''
       readability-identifier-naming.FunctionCase:           aNy_CasE
       readability-identifier-naming.FunctionPrefix:           ''
       readability-identifier-naming.FunctionSuffix:           ''
       readability-identifier-naming.GlobalConstantCase:           aNy_CasE
       readability-identifier-naming.GlobalConstantPrefix:           ''
       readability-identifier-naming.GlobalConstantSuffix:           ''
       readability-identifier-naming.GlobalFunctionCase:           aNy_CasE
       readability-identifier-naming.GlobalFunctionPrefix:           ''
       readability-identifier-naming.GlobalFunctionSuffix:           ''
       readability-identifier-naming.GlobalVariableCase:           aNy_CasE
       readability-identifier-naming.GlobalVariablePrefix:           ''
       readability-identifier-naming.GlobalVariableSuffix:           ''
       readability-identifier-naming.IgnoreFailedSplit:           '0'
       readability-identifier-naming.InlineNamespaceCase:           aNy_CasE
       readability-identifier-naming.InlineNamespacePrefix:           ''
       readability-identifier-naming.InlineNamespaceSuffix:           ''
       readability-identifier-naming.LocalConstantCase:           aNy_CasE
       readability-identifier-naming.LocalConstantPrefix:           ''
       readability-identifier-naming.LocalConstantSuffix:           ''
       readability-identifier-naming.LocalVariableCase:           aNy_CasE
       readability-identifier-naming.LocalVariablePrefix:           ''
       readability-identifier-naming.LocalVariableSuffix:           ''
       readability-identifier-naming.MacroDefinitionCase:           aNy_CasE
       readability-identifier-naming.MacroDefinitionPrefix:           ''
       readability-identifier-naming.MacroDefinitionSuffix:           ''
       readability-identifier-naming.MemberCase:           aNy_CasE
       readability-identifier-naming.MemberPrefix:           ''
       readability-identifier-naming.MemberSuffix:           ''
       readability-identifier-naming.MethodCase:           aNy_CasE
       readability-identifier-naming.MethodPrefix:           ''
       readability-identifier-naming.MethodSuffix:           ''
       readability-identifier-naming.NamespaceCase:           aNy_CasE
       readability-identifier-naming.NamespacePrefix:           ''
       readability-identifier-naming.NamespaceSuffix:           ''
       readability-identifier-naming.ParameterCase:           aNy_CasE
       readability-identifier-naming.ParameterPackCase:           aNy_CasE
       readability-identifier-naming.ParameterPackPrefix:           ''
       readability-identifier-naming.ParameterPackSuffix:           ''
       readability-identifier-naming.ParameterPrefix:           ''
       readability-identifier-naming.ParameterSuffix:           ''
       readability-identifier-naming.PrivateMemberCase:           aNy_CasE
       readability-identifier-naming.PrivateMemberPrefix:           ''
       readability-identifier-naming.PrivateMemberSuffix:           ''
       readability-identifier-naming.PrivateMethodCase:           aNy_CasE
       readability-identifier-naming.PrivateMethodPrefix:           ''
       readability-identifier-naming.PrivateMethodSuffix:           ''
       readability-identifier-naming.ProtectedMemberCase:           aNy_CasE
       readability-identifier-naming.ProtectedMemberPrefix:           ''
       readability-identifier-naming.ProtectedMemberSuffix:           ''
       readability-identifier-naming.ProtectedMethodCase:           aNy_CasE
       readability-identifier-naming.ProtectedMethodPrefix:           ''
       readability-identifier-naming.ProtectedMethodSuffix:           ''
       readability-identifier-naming.PublicMemberCase:           aNy_CasE
       readability-identifier-naming.PublicMemberPrefix:           ''
       readability-identifier-naming.PublicMemberSuffix:           ''
       readability-identifier-naming.PublicMethodCase:           aNy_CasE
       readability-identifier-naming.PublicMethodPrefix:           ''
       readability-identifier-naming.PublicMethodSuffix:           ''
       readability-identifier-naming.StaticConstantCase:           aNy_CasE
       readability-identifier-naming.StaticConstantPrefix:           ''
       readability-identifier-naming.StaticConstantSuffix:           ''
       readability-identifier-naming.StaticVariableCase:           aNy_CasE
       readability-identifier-naming.StaticVariablePrefix:           ''
       readability-identifier-naming.StaticVariableSuffix:           ''
       readability-identifier-naming.StructCase:           aNy_CasE
       readability-identifier-naming.StructPrefix:           ''
       readability-identifier-naming.StructSuffix:           ''
       readability-identifier-naming.TemplateParameterCase:           aNy_CasE
       readability-identifier-naming.TemplateParameterPrefix:           ''
       readability-identifier-naming.TemplateParameterSuffix:           ''
       readability-identifier-naming.TemplateTemplateParameterCase:           aNy_CasE
       readability-identifier-naming.TemplateTemplateParameterPrefix:           ''
       readability-identifier-naming.TemplateTemplateParameterSuffix:           ''
       readability-identifier-naming.TypeAliasCase:           aNy_CasE
       readability-identifier-naming.TypeAliasPrefix:           ''
       readability-identifier-naming.TypeAliasSuffix:           ''
       readability-identifier-naming.TypeTemplateParameterCase:           aNy_CasE
       readability-identifier-naming.TypeTemplateParameterPrefix:           ''
       readability-identifier-naming.TypeTemplateParameterSuffix:           ''
       readability-identifier-naming.TypedefCase:           aNy_CasE
       readability-identifier-naming.TypedefPrefix:           ''
       readability-identifier-naming.TypedefSuffix:           ''
       readability-identifier-naming.UnionCase:           aNy_CasE
       readability-identifier-naming.UnionPrefix:           ''
       readability-identifier-naming.UnionSuffix:           ''
       readability-identifier-naming.ValueTemplateParameterCase:           aNy_CasE
       readability-identifier-naming.ValueTemplateParameterPrefix:           ''
       readability-identifier-naming.ValueTemplateParameterSuffix:           ''
       readability-identifier-naming.VariableCase:           aNy_CasE
       readability-identifier-naming.VariablePrefix:           ''
       readability-identifier-naming.VariableSuffix:           ''
       readability-identifier-naming.VirtualMethodCase:           aNy_CasE
       readability-identifier-naming.VirtualMethodPrefix:           ''
       readability-identifier-naming.VirtualMethodSuffix:           ''
       readability-simplify-boolean-expr.ChainedConditionalAssignment:           '0'
       readability-simplify-boolean-expr.ChainedConditionalReturn:           '0'

