.build
.cache
*.o
*.so
*.exe
grsisort
*.mid
*.root
~*
*~
*.swp
*Dict*
*.d
htmldoc
.grsi_history
./bin*
bin
lib
myAnalysis
Sandbox
users
.deps
.nfs*
G__auto*
*.log
include/GVersion.h
GRSIProof/*.?
.grsi_thread
*.pyc
__pycache__
grsi_logon.C
*.pcm
*Data
.grsirc
wiki
megalinter-reports
