*.o
*.so
*.exe
grsisort
*.mid
*.root
~*
*~
*.swp
*Dict*
*.d
htmldoc
.grsi_history
./bin*
bin
myAnalysis
Sandbox
examples
*User*
.deps
.nfs*
G__auto*
*.log
include/GVersion.h
GRSIProof/*.?
.grsi_thread
*.pyc
__pycache__
grsi_logon.C
*.pcm
